node-red/.flows.json.backup
[{"id":"87590b76.2bfd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ecbfd844.984788","type":"server","z":"","name":"Home Assistant"},{"id":"38b00ba5.207594","type":"server-state-changed","z":"87590b76.2bfd4","name":"Sun","server":"ecbfd844.984788","entityidfilter":"sun.sun","entityidfiltertype":"substring","outputinitially":false,"state_type":"habool","haltifstate":"","halt_if_type":"","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":184,"y":338,"wires":[["6b562004.717128"]]},{"id":"6b562004.717128","type":"api-call-service","z":"87590b76.2bfd4","name":"Turn on light","server":"ecbfd844.984788","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.belute_rt\"}","render_data":false,"mergecontext":"","output_location":"payload","output_location_type":"msg","x":462,"y":332,"wires":[["cd15a0cb.ce27d"]]},{"id":"cd15a0cb.ce27d","type":"debug","z":"87590b76.2bfd4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":713,"y":328,"wires":[]}]